<div class="container" >
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary" style="border-color: gray">
                <div class="panel-heading" style="background-color:#f5f5f5;color: black">Game Jam</div>
                <div class="panel-body">
                    <%= form_for(@game_jam) do |f| %>
                          <%= f.label :theme %>
                          <%= f.text_field :theme, class: 'form-control'%>

                          <%= f.label :date %>
                          <%= f.text_field :date, class: 'form-control' %>

                          <%= f.label :version %>
                          <%= f.text_field :version, class: 'form-control' %>

                          <%= f.label :online %>
                          <%= f.check_box :online, class: 'form-control'%>

                          <%= f.label :location %>
                          <%= f.password_field :location, class: 'form-control' %>

                          <%#= f.label :password_confirmation, "Confirmation" %>
                          <%#= f.password_field :password_confirmation, class: 'form-control' %>

                          <%= f.submit "Register game jam", class: "btn btn-primary" %>
                        <% end %>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
