<p id="notice"><%= notice %></p>

<p>
  <strong>Field:</strong>
  <%= @comment.field %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @comment.rate %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
