<nav class="navbar navbar-default" role="navigation">
  <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to(image_tag("https://pbs.twimg.com/profile_images/1850266383/icon.png", size: "50x50"), root_path) %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav navbar-right">
      <li><%=link_to "Organization", organizations_index_path%></li>
        <li id="fat-menu" class="dropdown">
          <a href="#" class="dropdown-toggle" data toggle="dropdown">
              Games <b class="caret"></b>
          </a>
      <ul class="dropdown-menu">
              <li><%= link_to "List", games_index_path %></li>
              <% if logged_in? %>
                <li class="divider"></li>
                <li><%= link_to "Add", games_new_path %></li>
              <% end %>
          </ul>
      </li>
        <li><%= link_to "Home", root_path %></li>
        <% if logged_in? %>
          
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>