<h1>Register new Organization</h1>

<%= form_for @organization do |f| %>
	<%= f.text_field :name, :placeholder => 'Name' %> <br />
	<%= f.text_field :site, :placeholder => 'Site' %> <br />
	<%= f.text_area :description, :placeholder => 'Description' %> <br />
	<%= f.text_field :localization, :placeholder => 'Localization' %> <br />
	<%= f.submit 'Submit' %>
<% end %>
