<div class="row">
  <aside class="col-md-4">
<h1><%= @organization.name%></h1>

<p>Site: <%= @organization.site%></p>
<p>Description: <%= @organization.description%></p>
<p>Location: <%= @organization.localization%></p>
<%= link_to "Add new Game Jam event for this organization", new_game_jam_path %>
	</aside>
</div>