<!DOCTYPE html>
<html>
<head>
  <title>GameJamSite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |name, message| %>
 <%= content_tag :div, message, class: "alert altert-#{name}" %>
<% end %>

<%#= render partial: "gamers/shared/navbar" %>
<%= render partial: "shared/navbar" %>

<%= javascript_include_tag "application" %>
<%= yield :javascript_includes %>

<%= yield %>

</body>
</html>
